
<section class="contact">
    <h2>Contact Us</h2>
       
    <div class="container">
      
    <form>
       
        <input type="text" id="name" name="name" placeholder="Your Name" autocomplete="name">
      
        <input type="email" id="email" name="email" placeholder="Your Email" autocomplete="email">

        <input type="text" id="subject" name="subject" placeholder="Subject" autocomplete="off">
      
        <textarea id="message" name="message" placeholder="Your Message" autocomplete="off"></textarea>
   
        <button type="submit">Send Message</button>
      </form>
    </div>
  </section>
  
